 <div class="foodlistTablecontainer">
        <h1>Minden kaja 600-800 Ft között:</h1>
        <table class="foodlistTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Név</th>
                    <th>Mennyiség</th>
                    <th>MennyiségFajta</th>
                    <th>Elkészítési idő(perc)</th>
                    <th>Összár(Ft)</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let food of asdf; let i=index; let ing of adf " (click)='findIngById(food.id, i)' [class.active]="i == selectedRow">
                    <td class="tdfood">
                        <p>{{food.id}}</p>
                    </td>
                    <td class="tdfood">
                        <p>{{food.name}} </p>
                    </td>
                    <td class="tdfood">
                        <p>{{food.mennyiseg}}</p>
                    </td>
                    <td class="tdfood">
                        <p> {{food.mennyisegfajta | quantity}}</p>
                    </td>
                    <td class="tdfood">
                        <p> {{food.elkeszitesi_ido}} </p>
                    </td>
                    <td class="tdfood">
                        <p>{{food.osszar}}</p>
                    </td>
                    <td class="tdfood">
                        <div class="foodIngrediements">
                                <p>Összetevők:</p>
                            <ol  *ngFor="let ing of adf" >
                                
                                <li *ngIf="selectedRow==i">
                                  {{ing.hozzavalok_name}} {{ing.szorzo}} {{ing.mennyisegek_name}}
    
                                </li>
                            </ol>
    
                        </div>
                    </td>
                </tr>
    
            </tbody>
        </table>
    </div>