h1 {
  color: darkblue;
  font-family: 'Carter One', cursive;
  font-size: 250%;
  text-align:center;

}
@charset "utf-8";
.foodIngrediements{
align-content: center;
position: relative;
display: table;
text-align: center;
//border:2px solid black;
color: white;
border-collapse: collapse;
}
.tdfood {
  border-bottom: 1px solid #ddd;

}
.cim {
    text-align: center;
    color: darkblue;
    text-shadow: inherit;
    font-size: 35px;
	padding-top: 10px;
}
.container{
	align-content: center;
	display: relative;
}
.stronglabel{
font-weight: bold;
}
.col-xs-6{
  background-color:gray;
  width: 890px;
  display: table;
  margin: 0 auto;
  text-align:center;
  position: relative;
  -webkit-animation-name: opacityanim;
  -webkit-animation-duration: 1s;
  animation-name:opacityanim ;
  animation-duration: 1s;
}
.col-xs-8{
  background-color:gray;
  width: 930px;
  display: table;
  margin: 0 auto;
  text-align:center;
  position: relative;
  -webkit-animation-name: opacityanim;
  -webkit-animation-duration: 1s;
  animation-name:opacityanim ;
  animation-duration: 1s;
}
.col-xs-7{
 display: table;
  width: 900px;
  border: 3px solid #73AD21;
  padding: 10px;
float:left;
}
.foodtd{
  text-align:left;
  align-content: left;
  width:200px;
  height: 40px;
}
.foodtd2{
color:white;
  //display:absolute;
  text-align:left;
  align-content: left;
  width:10px;
  height: 30px;
}


#container{
  display: table;
  margin: 0 auto;
  text-align:center;
  font-family: 'Carter One', cursive;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
#container2{
  width: 930px;
  display: table;
  margin: 0 auto;
  text-align:center;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}
.ng-invalid.ng-touched:not(form) {
  border: 2px solid red;
}
.keresettfood{
  text-align: center;
  color: white;
  text-shadow: inherit;
  font-size: 18px;
  border: 3px solid #f3f3f3;

}
.foodsubmit{
  border: 8px solid #f3f3f3;
  width: 900px;
  display: table;
  margin: 0 auto;
  text-align:center;
  background-color:gray;
  opacity: 0.8;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
p {
    text-align: center;
    color: white;
    text-shadow: inherit;
    font-size: 18px;
}
.buttons {
    text-align:center;
}
#food-button:hover{
	background-color: #e7e7e7;
}
#food-button{
  text-decoration: none;
  padding: 0px 16px;
	background-color: white;
  font-family: 'Carter One', cursive;
  color: darkblue;
  border: 1px solid #000080;
}
body {
    background-position: center top;
    font-family: "Georgia", "Times", serif;
    background-image: url(app/images/hatter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-clip: border-box;
}
.headertable{
	background-color: gray;
	opacity: .7;
	border-radius: 3px;
}
.headerlink:link{
	text-decoration: none;
	font-size: 18px;
	color: white;
	background-color: gray;
	opacity: .7;
	border-radius: 3px;
}
.headerlink:hover{
	text-decoration: none;
	font-size: 22px;
	opacity: .9;
	border-radius: 3px;
}

.headerlink:visited{
	text-decoration: none;
	font-size: 18px;
	color: white;
	background-color: gray;
	opacity: .7;
	border-radius: 3px;
}
.menutd{
  display:absolute;
  text-align:center;
    align-content: center;
	width:300px;
	height: 30px;
}
.footer-text{
	text-align: left;
	font-size: 10px;
}
.menu{
	width:930px;
	height:40px;
	background-color:gray;
	opacity: 0.8;
}
.fooldal-leiras{
	width: 930px;
	background-color:gray;
	opacity: 0.8;
}
#keszitok-leiras{
  border: 8px solid #f3f3f3;
	width: 912px;
  display: table;
  margin: 0 auto;
  text-align:center;
	background-color:gray;
	opacity: 0.8;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
#keszitok-leiras1{
 left:65%;
	width: 450px;
  display: table;
  margin: 0 auto;
  text-align:center;
	background-color:gray;
	opacity: 0.8;
	position: relative   ;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}
#keszitok-leiras2{

   left:71%;
	width: 450px;
  display: table;
  margin: 0 auto;
  text-align:center;
	background-color:gray;
	opacity: 0.92;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s;
}
#leftstyle{
	padding-top:3px;
  width: 300px;
  display: inline-block;
  background-color:gray;
  opacity: 0.8;
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 4s;
  animation-name: animatebottom;
  animation-duration: 4s;
}

.etelek-feliras{
  align-content: center;
    display: block;
  margin: 0 auto;
  text-align: center;
	//border: 3px solid #000080;
	width: 930px;
	background-color:gray;
	opacity: 0.8;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}
.etelek-feliras1{
  align-content: center;
    display: block;
  margin: 0 auto;
  text-align: center;
	//border: 3px solid #000080;
	width: 930px;
	background-color:gray;
	opacity: 0.8;
	position: relative;
}
#etelek-gombok{
  border: 2px solid #000080;
	width: 927px;
	background-color:gray;
  margin: 0 auto;
  text-align:center;
	opacity: 0.8;
  align-content: center;
  align-items: center;
	position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.9s;
  animation-name: animatebottom;
  animation-duration: 1.9s;
}
#etelek-gombok1{
  align-items: center;
  align-content: center;
	width: 927px;
	background-color:gray;
  margin: 0 auto;
  text-align:center;
	opacity: 0.8;
	position: relative;
}
#align{
  width: 230px;
}
#align2{
  width: 400px;
}
tr{
  border:1px solid black;
}
.foodlistTable{
  border: 3px solid #FFFFFF;
  top:5px;
  width: 900px;
	background-color:gray;
  margin: 0 auto;
  text-align:center;
	opacity: 0.8;
	position: relative;
}
.foodlistTablecontainer{
  display: table;
  margin: 0 auto;
  text-align:center;
	position: relative;
  top:5px;
  width: 912px;
	background-color:gray;
  margin: 0 auto;
	opacity: 0.8;
  border: 8px solid #f3f3f3;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1.5s;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}
.foodcustomcss{
    left:32.5%;
    display: table;
    margin: 0 auto;
    text-align:center;
  	position: relative;
    top:5px;
    width: 912px;
  	background-color:gray;
    margin: 0 auto;
  	opacity: 0.8;
    border: 8px solid #f3f3f3;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1.5s;
    animation-name: animatebottom;
    animation-duration: 1.5s;
}


@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:0.8 }
}
@-webkit-keyframes opacityanim {
  from { bottom:0px; opacity:0 }
  to { bottom:0px; opacity:0.8 }
}

@keyframes opacityanim {
  from { bottom:0px; opacity:0 }
  to { bottom:0px; opacity:0.8 }
}
@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:0.8 }
}
